body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.creative{
  color:midnightblue;
}
.main {
  flex: 1;
}
.card{
  display:inline-block;
  width:45%;
  
}
.card > img{
  height:200px;
  width:300px;
  float:left;
  margin-right:50px;
}
h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.left{
  float:left;
}
.right{
  float:right;
}

@media (max-width: 680px)
{
  
  .card{
    display:block;
    width:100%;
  }
  .left{
    float:none;
  }
  .right{
    float:none;
    margin-top: 50px;
  }
  .card > img{
    width:100%;
    float:none;
    margin-bottom:0px;
    display:block;
    object-fit: cover;
  }
  h1{
    font-size: 3.5rem;
    text-align:center;
  }
  .logo{
    width: 100px;
  }
  .card-title{
    margin-top:10px;
  }
  div > p{
    font-size: 1rem;
    word-spacing: 4px;
    text-align: justify;
  }
}